/* =================== GRID =================== */
/* Grid para mantener las tarjetas en dos columnas */
.casting-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-gap: 16px;
  padding: 16px;
}

/* =================== TARJETAS =================== */
.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: transform 0.3s ease; 
  overflow: hidden; 
  background-color: #dddddd;
}

.custom-card:hover {
  transform: scale(1.05); 
}


.card-image {
  width: 100%; 
  height: 300px;
  object-fit: cover; 
  border-radius: 8px 8px 0 0; 
  display: block;
  margin: 0 auto; /* Centra la imagen */
}

/* Título dentro de las tarjetas */
ion-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

/* Contenido de la tarjeta */
ion-card-content p {
  margin: 4px 0;
  color: #666;
  font-size: 0.9rem;
}

ion-card-content p strong {
  color: #333;
}

/* =================== BOTONES =================== */
.semi-transparent-btn {
  --background: linear-gradient(135deg, rgba(255, 94, 98, 0.8), rgba(255, 42, 43, 0.8));
  --color: white;
  --border-radius: 50px;
  --border-color: rgba(255, 255, 255, 0.3);
  --border-width: 2px;
  --box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  --font-size: 1rem;
  --font-weight: bold;
  --transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
}


.semi-transparent-btn:hover {
  --background: linear-gradient(135deg, rgba(255, 42, 43, 0.9), rgba(255, 0, 5, 0.9));
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.semi-transparent-btn:active {
  transform: translateY(0);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* =================== CHIPS =================== */
.chip-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 10px;
}

/* Estilo de los chips */
ion-chip {
  --background: var(--ion-color-light);
  --color: var(--ion-color-primary);
  --border-radius: 16px;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 6px;
  --padding-bottom: 6px;
  --ion-color-primary-contrast: #fff;
  border: 1px solid var(--ion-color-primary);
  transition: background-color 0.3s, color 0.3s;
}


ion-chip:hover {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}


ion-chip:active {
  background-color: var(--ion-color-primary-shade);
}


ion-chip[selected] {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

/* =================== OTROS CONTENEDORES =================== */
.login-container, .register-container, .casting-container, .profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* =================== PERFIL =================== */
.profile-image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Nombre de perfil */
.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.review-section {
  padding: 16px;
}

.review-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.review-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-stars {
  display: flex;
}

.star-icon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: #6b6b6b;
}