:root {
  --color-primary-dark: #433878; /* Color más oscuro */
  --color-primary: #7E60BF; /* Segundo color más oscuro */
  --color-accent: #E4B1F0; /* Color más claro */
  --color-light: #FFE1FF; /* Color más claro y suave */
}

/* =================== GRID =================== */
/* Grid para mantener las tarjetas en dos columnas */
.casting-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajuste columnas */
  grid-gap: 16px;
  padding: 16px;
  overflow-x: auto; /* Permite el scroll */
}

.model-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste columnas*/
  grid-gap: 16px;
  padding: 16px;
}

/* =================== TARJETAS =================== */
.custom-card {
  background-color: var(--color-light); /* Cambiar el fondo de las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.custom-card:hover {
  transform: scale(1.05); 
}


.card-image {
  width: 480px; 
  height: 600px;
  object-fit: cover; 
  border-radius: 8px 8px 0 0; 
  display: block;
  margin: 0 auto; /* Centra la imagen */
}

/* Título dentro de las tarjetas */
ion-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-primary-dark); /* Título de las tarjetas con color oscuro */
}

/* Contenido de la tarjeta */
ion-card-content p {
  margin: 4px 0;
  color: #666;
  font-size: 0.9rem;
}

ion-card-content p strong {
  color: #333;
}

/* =================== BOTONES =================== */
.semi-transparent-btn {
  --background: linear-gradient(135deg, var(--color-primary-dark), var(--color-primary));
  --color: white;
  --border-radius: 50px;
  --border-color: rgba(255, 255, 255, 0.3);
  --border-width: 2px;
  --box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  --font-size: 1rem;
  --font-weight: bold;
  --transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
}


.semi-transparent-btn:hover {
  --background: linear-gradient(135deg, var(--color-primary-dark), var(--color-primary));
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.semi-transparent-btn:active {
  transform: translateY(0);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* =================== CHIPS =================== */
.chip-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 10px;
}

/* Estilo de los chips */
ion-chip {
  --background: var(--color-accent);
  --color: var(--color-primary-dark);
  --border-radius: 16px;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 6px;
  --padding-bottom: 6px;
  --ion-color-primary-contrast: #fff;
  border: 1px solid var(--ion-color-primary);
  transition: background-color 0.3s, color 0.3s;
}


ion-chip:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}


ion-chip:active {
  background-color: var(--ion-color-primary-shade);
}


ion-chip[selected] {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

/* =================== OTROS CONTENEDORES =================== */
.login-container, .register-container, .casting-container, .profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* =================== PERFIL =================== */
.profile-image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Nombre de perfil */
.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.review-section {
  padding: 16px;
}

.review-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-primary-dark);
}

.review-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-stars {
  display: flex;
}

.star-icon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: #6b6b6b;
}

/* =================== TOOLBAR =================== */

.center-title {
  text-align: center; /* Centrar horizontalmente */
  width: 100%; /* Asegurar que ocupe el 100% del ancho del toolbar */
  font-weight: bold; /* Opcional: hacer el título más destacado */
  position: absolute; /* Para que el texto esté centrado independientemente de otros elementos */
  left: 50%;
  transform: translateX(-50%); /* Centrado exacto */
}

.page-title {
  font-size: 1.2rem; /* Tamaño del título de la página */
  font-weight: normal; /* Estilo opcional */
  margin-left: 10px; /* Para separar el título del borde izquierdo */
}
